img {
    height: 200px;
    width: 200px;
}

h1 {
    color: blanchedalmond;
    font-size: 100px;
    text-align: center;
    margin: 0px;
}

.container {
    background-color: grey;
    height: 950px;
    padding: 10px;
}

.box1 {
    background-color: skyblue;
    height: 250px;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.box2 {
    background-color: thistle;
    height: 250px;
    margin: 15px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box3 {
    background-color: white;
    height: 250px;
    margin: 15px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#disclosure {
    text-align: center;
}
