#myname {
    height: 70px;
    width: 300px;
    background-color: #8E1ADB;
    border: 10px solid black;
    border-radius: 5px;
    font-family: 'Germania One', cursive;
    color: white;
    /* This moved the block to the center of the screen */
    margin: auto;
    display: flex;
    /* These two items moved the text within the block to the center across the main and cross axis */
    align-items: center;
    justify-content: center;
}

.spacer {
    background-color: white;
    height: 10px;
}

#mypic {
    height: 200px;
    width: 200px;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar {
    background-color: purple;
    height: 100px;
    margin: auto;
    display: flex;
    /* These two items moved the text within the block to the center across the main and cross axis */
    align-items: center;
    justify-content: center;
}