* {
    font-family: 'Germania One', cursive;
    color: whitesmoke;
}

.container {
    background-color: black;
    height: 1000px;
    margin: 5px;
    padding: 10px;
}

.nav {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

#navright {
    background-color: black;
    width: 700px;
    display: inherit;
    align-items: center;
    justify-content: space-evenly;
}

#navleft {
    background-color: black;
    display: inherit;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}

.mypic {
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

img {
    border-radius: 50%;
}

#face {
    box-shadow: 0px 0px 75px rgb(250, 188, 18);
    border-radius: 50%;
}

.titlecertifications {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.badgescertifications {
    background-color: blanchedalmond;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

#secplus {
    height: 150px;
    width: 150px;
}